@charset "UTF-8";

.container {
    /* impede que o header do browser no mobile atrapalhe com o scrolling */
    height: 100%;
    position:fixed;
    align-items: end;
}

#threes {
    --width-inside-threes: 90%;
    --mensagens-height: 20%;
    --threes-padding: 10px;
    --gap: 10px;

    height: 82%;
    width: 330px;
    gap: 50px;
    
    padding-bottom: 20px;
}

#threes #mensagens {
    top: -21%;
}

#mensagens #record {
    
}

#mensagens #score {
    top: 0;
    left: 5%;
    font-size: 1.6rem;
    position: absolute;
}

#mensagens #game-over {
    top: 55%;
}

#game-over div {
    
}

#restart-dialog {
    top: 40%;
}

#restart-dialog #restart-button {
    height: 60px;
    width: 100px;
}

#restart-dialog #restart-button:active {
    
}

#threes #slots {
    
}

#hud {
    --next-piece-display-height: 90px;
    --next-piece-display-width: 60px;

    top: 7.5%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}

#hud #next-piece-display {
    position: initial;
    font-size: 0.7rem;
    border-radius: 6px;
}

#next-piece-display p {
    
}

#next-piece-display .template-piece {
    width: 60%;
    border-radius: 8px;
    /* serve pra diferenciar de peças comuns */
    --border-bottom-shadow: 5px; 
}

.user-interaction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: var(--next-piece-display-height);
    /* border: 1px solid black; */
}

.div-select {
    display: flex;
    flex-direction: column;
}

select#threes-estilo {
    width: 100%;
    position: initial;
    display: block;
}

/* select#threes-estilo::before {
    content: 'Style';
    right: 100%;
    position: absolute;
} */

select#theme {
    width: 100%;
    position: initial;
    display: block;
}

#random-play-button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 6px var(--slot-color);

    top: initial;
    right: initial;
    position: relative;
}

#random-play-button:active {
    top: 6px;
}

#slots .slot {
    
}

/* qualquer peça diferente de 1 ou 2 */
.piece {
    font-size: var(--piece-font-size);
}

.piece.one {
    
}

.piece.two {
    
}

